 <% if current_user.id == 1 %>


<%= simple_form_for(@comment, :html => { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

<%= f.input :user_id, as: :text, label: 'User Id (will need to look up)', input_html: { rows: "1", :class => "input-name"  } %>
<%= f.input :body, as: :text, label: 'Comment', input_html: { rows: "4", :class => "input-name"  } %>
<%= f.input :audio, label: 'Upload Audio file' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary btn-small" %>
  </div>
<% end %>


<% end %>