<% @title="Maddy's Music | Resources " %>
<% content_for :description, 'Resources for your private piano lessons, flute lessons and voice lessons in Salt Lake City' %>

<div id="logo" class="well well-small">
	<h2>
		<%= image_tag("LOGO.jpg") %>
	</h2>
</div>

<div class="well">
	<h1>Resources</h1>
	<div class="accordion" id="accordion2">

	<div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
	       <h3> Challenges </h3>
	      </a>
	    </div>
	    <div id="collapseSix" class="accordion-body collapse">
	      <div class="accordion-inner">
	        <ul>
	        	<li><p><b>Listening Challenge</b><br/>

	        		Students taking music lessons for 1 yr or less:<br/>
							1.	What time signature do you think this piece is in?  (Think how many beats per measure…)<br/>
							2.	Do you think the start of this piece is major (happy) or minor (sad)?<br/> 
							3.	Can you hear any sections repeat? If so, how many times?<br/>
							4.	 How long ago do you think it was written?<br/>
							5.	What instrument do you think is playing?<br/><br/>

						Students taking lessons over 1 yr:<br/>
					     6.   Can you name the composer?<br/>
					     7.   If you had to give a tempo suggestion, what would it be ? (eg, presto, largo etc.)<br/>
					     8.   How many perfect cadences can you hear?<br/>
					     9.   How many ornaments are there?<br/>
					     10.  a) Do you think the piece changes key?  b) If so, where does it go?<br/><br/>

							Happy Listening!</li><br/>

							<audio src="/audios/Listening_Challenge2.mp3" controls title="" ></audio>
								<br/></p>

						<li><p><b>Composition Challenge</b><br/>
									To compose a piece of music that is at least 8 measures long (8 counts of 4 beats, or whichever time signature you choose to use). <br/><br/>

									The title of the composition is:  STARS<br/><br/>

									If you are a singer you can use the poem I found below, or find your own stars poem to set some music to. <br/><br/>
									 
									Stars are falling, beaming down. <br/>
									On the ground, is where I'm found.<br/> 
									On a summer’s night, some stars may fall, <br/>
									But I am here to catch them all. <br/>
									Looking at the stars above, I can see some stars of love. <br/>
									Some are good, <br/>
									Some are kind. <br/>
									Some are yours, <br/>
									And some are mine. <br/>
									Oh! Stars above please shine your light,<br/> 
									So that I may find my way, tonight.                                         <em>   Words by Stephanie M Mayle</em><br/><br/>

									Try and be creative by thinking about the qualities of stars ad how you can represent that through music.  Think about the different musical elements:  Rhythm, dynamics (loud and soft), tempo (fast or slow), modality (major, minor or modal) and articulation (legato or staccato).  Most importantly, have some fun with it!  This is an opportunity for you to explore what you can play/sing that's entirely your own!<br/><br/>

									You don't have to write it down, but maybe make some notes on paper so you can remember what you came up with.  You can send me a recording, or you can give me a live performance during a lesson.  The winner will be based upon how creative you are with what you know, and how you linked it to the title, STARS.
									<br/><br/>
									<b>Deadline for Challenges is April 30</b>
						</p>
            	</li>
					</ul>
	      </div>
	    </div>
		</div>
	  
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	       <h3> Websites </h3>
	      </a>
	    </div>
	    <div id="collapseOne" class="accordion-body collapse">
	      <div class="accordion-inner">
	        <ul>
	        	<li><%= link_to "Free Flute Tunes", "http://www.flutetunes.com", :target => '_blank'  %>.  Also has printable manuscript paper. </li>
					<li><%= link_to "Great vocal warm-ups", "http://www.aussievocalcoach.com" , :target => '_blank' %> for beginner to intermediate singers. </li>
					<li><%= link_to "musicnotes.com", "http://www.musicnotes.com", :target => '_blank'  %>, downloadable sheet music in different keys. </li>
	        </ul>
	      </div>
	    </div>
		</div>

		<div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
	       <h3> Recommended Books </h3>
	      </a>
	    </div>
	    <div id="collapseTwo" class="accordion-body collapse">
	      <div class="accordion-inner">
	        <ul>
	        	<li>The Faber and Faber Series for Young Beginners</li>
						<li>Hal Leonard Harmony and Theory</li>
						<li>Contemporary Music Theory (Levels 1, 2 and 3) by Mark Harrison</li>
	        </ul>
	      </div>
	    </div>
		</div>

		<div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
	       <h3> Recommended Articles </h3>
	      </a>
	    </div>
	    <div id="collapseThree" class="accordion-body collapse">
	      <div class="accordion-inner">
	        <ul>
	        	<li><%= link_to "Methods for Efficient Practice", "http://www.essential-music-practice.com/efficient-practice.html", :target => '_blank'  %></li>
	        	<li><%= link_to "The Benefits of Music Education for Children", "http://www.pbs.org/parents/education/music-arts/the-benefits-of-music-education/", :target => '_blank'  %></li>
	        </ul>
	      </div>
	    </div>
		</div>

		<div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
	       <h3> Vocal Warm-Ups (Females)</h3>
	      </a>
	    </div>
	    <div id="collapseFour" class="accordion-body collapse">
	      <div class="accordion-inner">
	        <ul>
	         	<li><p>1. Warm-up Resonators</p>
            	<audio src="/audios/warmups1.mp3" controls title=""></audio> </li>
	        	<li><p>2. Sustained Notes</p>
            	<audio src="/audios/warmups2.mp3" controls title=""></audio> </li>
	        	<li><p>3. Do-So Warm-ups</p>
            	<audio src="/audios/warmups3.mp3" controls title=""></audio> </li>
	        	<li><p>4. Do-So Without Melody</p>
            	<audio src="/audios/warmups4.mp3" controls title=""></audio> </li>
	        	<li><p>5. Major Scale</p>
            	<audio src="/audios/warmups5.mp3" controls title=""></audio> </li>
	        	<li><p>6. Minor Scale</p>
            	<audio src="/audios/warmups6.mp3" controls title=""></audio> </li>
	        	<li><p>7. Blues Scale</p>
            	<audio src="/audios/warmups7.mp3" controls title=""></audio> </li>
	        	<li><p>8. Arpeggios</p>
            	<audio src="/audios/warmups8.mp3" controls title=""></audio> </li>
	        	<li><p>9. Complex Arpeggios</p>
            	<audio src="/audios/warmups9.mp3" controls title=""></audio> </li>
	        	<li><p>10. Note Melds</p>
            	<audio src="/audios/warmups10.mp3" controls title=""></audio> </li>
	        	<li><p>11. Chromatics</p>
            	<audio src="/audios/warmups11.mp3" controls title=""></audio> </li>
	        	<li><p>12. Intervals</p>
            	<audio src="/audios/warmups12.mp3" controls title=""></audio> </li>
	        </ul>
	      </div>
	    </div>
	  </div>

		<div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
	       <h3> New Students </h3>
	      </a>
	    </div>
	    <div id="collapseFive" class="accordion-body collapse">
	      <div class="accordion-inner">
	        <ul>
	        	<li><a href="/newparentleaflet.pdf" target="_blank">New Parent Leaflet</a></li>
					</ul>
	      </div>
	    </div>
		</div>

 		


	</div>
</div>