<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to "Maddy's Music", root_path, class: "brand" %>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse">
       	<ul class ="nav"> 
	   			<li><%= link_to "About Me", { :controller => '/pages', :action => 'About_Me'}  %></li>
    			<li><%= link_to "My Philosophy", { :controller => '/pages', :action => 'My_Philosophy'} %></li>
    			<li><%= link_to "Contact Me", { :controller => '/pages', :action => 'Contact_Me'} %></li>
          <li><%= link_to "Resources", { :controller => '/pages',  :action => 'Resources'} %></li>

          <% if user_signed_in? %>
          <li><%= link_to "Student's Area", { :controller => '/pages',  :action => 'For_Students'} %></li>
          <% end %>
        </ul>
        <ul class="nav pull-right nav-pills">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Students
              <b class="caret"></b>
             </a>
             <ul class="dropdown-menu">
              <% if user_signed_in? %>
                <li><%= link_to "Update Profile", edit_user_registration_path %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Login", new_user_session_path %></li>
              <% end %>
               <% if current_user.try(:admin?) %>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
               <% end %>
            </ul>
          </li>
        </ul> 
      </div>
 
    </div>	
  </div>
</div>
